.container{
  height: 100vh;
  background-color: #D5E8A6;
}

.header {
  width: 100%;
  height: 100px;
  position: absolute;
}

.progressbar__container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100%;
  align-items: center;
  text-align: center;
}