.profile_container{
  background: #D5E8A6;
  height: 100vh;
  position: flex;
  justify-content: center;
  align-items: center;
}

h1, h5{
  color: #A3C653;
}

.player{
  background-color: white;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  border: solid 3px #A3C653;
  cursor: pointer;
}

.player:hover{
  background-color: #B9D279;
}

.dialog{
  color: #A3C653;
}

.texts{
  margin-left: 20px;
  height: 30px;
  color: #22220B;
}

.outAlert{
  border-radius: 0 !important;
  height: 50px;
  padding: 10px 10px 10px 10px !important;
  margin: 0 !important;
}

.fade_out{
  animation: goAway 0.5s ease-in-out forwards !important;
  animation-delay: 2s;
}

@keyframes goAway{
  from{
    transform: none;
    opacity: 1;
  }
  to{
    transform: translateY(-50px);
    opacity: 0;
  }
}

.fade_in{
  animation: goBack 0.5s ease-in forwards !important;
  animation-delay: 2s;
}

@keyframes goBack{
  from{
    transform: translateY(-50px);
    opacity: 0;
  }
  to{
    transform: none;
    opacity: 1;
  }
}

.player_static {
  background-color: white;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 10px;
  border: solid 3px #A3C653;
}

.progressbar__container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100%;
  align-items: center;
  text-align: center;
  filter: drop-shadow(2px 2px 2px rgb(0 0 0 / 0.3));
}

.profile_btn{
  color: #A3C653 !important;
  background-color: white !important;
  position: fixed !important;
  top: 10px;
  left: 60px;
  z-index: 2;
  width: 40px;
  height: 40px;
}

.profile_btn:hover{
  background-color: #A3C653 !important;
  color: white !important;
}